input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@media screen and (min-width: 0px) and (max-width: 1050px) {

    .input-separator {
        display: none;
    }

    .search-bar-wrapper {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: black;

    }

    .search-bar {
        margin-right: 10px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        text-decoration: solid;
        border: solid 4px #E35865;
        padding: 5px;
        font-size: 20px;
        color: #bbb;
        background:none;
        letter-spacing: 1px;
        word-spacing: 10px;
        font-family: 'Arvo', sans-serif;
        line-height: 45px;
        margin-bottom: 15px;

    }

    .search-input-field {
        width: 375px;
        text-align: center;
        text-decoration: solid;
        color: #bbb;
        background:none;
        letter-spacing: 1px;
        word-spacing: 10px;
        border: none;
    }

    .search-limit-field {
        width: 75px;
        text-align: center;
        text-decoration: solid;
        color: #bbb;
        background:none;
        letter-spacing: 1px;
        word-spacing: 10px;
        border: none;
    }


}


@media screen and (min-width: 1050px) {

    .search-bar-wrapper {
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: black;

    }

    .search-bar {
        margin-right: 10px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .search-input {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        text-decoration: solid;
        border: solid 3px #E35865;
        padding: 5px;
        font-size: 20px;
        color: #bbb;
        background:none;
        letter-spacing: 1px;
        word-spacing: 10px;
        font-family: 'Arvo', sans-serif;
        line-height: 45px;
        margin-bottom: 15px;

    }

    .search-input-field {
        width: 375px;
        text-align: center;
        text-decoration: solid;
        color: #bbb;
        background:none;
        letter-spacing: 1px;
        word-spacing: 10px;
        border: none;
    }

    .search-limit-field {
        width: 75px;
        text-align: center;
        text-decoration: solid;
        color: #bbb;
        background:none;
        letter-spacing: 1px;
        word-spacing: 10px;
        border: none;
    }

    .input-separator {
        text-decoration: solid;
        color: #E35865;
        vertical-align: super;
        font-weight: 700;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }


}



.video-detail .details {
    margin: 15px;
    padding: 10px;
    border: 1px solid #85807a;
    border-radius: 5px;
    background-color: rgba(219, 214, 207, 0.2);
    color: black;

}

.video-detail {

    color: black;
    padding: 5px;
    margin: 15px;

}

.list-group-item {
    cursor: pointer;
}

.list-group h4 {
    color: #bbb;
}


.list-group-item:hover {
    background-color: #eee;
}



